/*!
 * Start Bootstrap - Freelancer Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    overflow-x: hidden; 

}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #2c3e50;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style:italic;   
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   
  
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 450px;
    border: 0;
    border-top: solid 1px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: ""; /*"\f005";*/
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #141414;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

.img-centered {
    margin: 0 auto;
}


header {
    text-align: center;
    color: #fff;
    background: #141414;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media(min-width:768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    text-transform: uppercase;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

section {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #fff;
    background: #141414;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

#package .package-item {
    right: 0;
    margin: 0 0 15px;
}

#package .package-item .package-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#package .package-item .package-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#package .package-item .package-link .caption:hover {
    opacity: 1;

}

#package .package-item .package-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #141414;

}

#package .package-item .package-link .caption .caption-content i {
    margin-top: -12px;
}

#package .package-item .package-link .caption .caption-content h3,
#package .package-item .package-link .caption .caption-content h4 {
    margin: 0;
}

#package * {
    z-index: 2;
}

@media(min-width:767px) {
    #package .package-item {
        margin: 0 0 30px;
    }
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
    color: #fff;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #2c3e50;    
}

footer .footer-col {
    margin-bottom: 50px;
    color: #fff;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.package-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;f
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.package-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.package-modal .modal-content img {
    margin-bottom: 30px;
}

.package-modal .modal-content .item-details {
    margin: 30px 0;
}

.package-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.package-modal .close-modal:hover {
    opacity: .3;


}

.package-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.package-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}


/*FLIP*/
#animated-example { 
   width: 300px;
   height: 200px;
   position: absolute;
} 

.animated { 
   -webkit-animation-duration: 2s; 
   animation-duration: 2s; 
   -webkit-animation-fill-mode: both; 
   animation-fill-mode: both; 
} 

@-webkit-keyframes flip { 
    0% { 
        -webkit-transform: perspective(400px) rotateY(0); 
        -webkit-animation-timing-function: ease-out; 
    } 
    40% { 
        -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg); 
        -webkit-animation-timing-function: ease-out; 
    } 
    50% { 
        -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1); 
        -webkit-animation-timing-function: ease-in; 
    } 
    80% { 
        -webkit-transform: perspective(400px) rotateY(360deg) scale(.95); 
        -webkit-animation-timing-function: ease-in; 
    } 
    100% { 
        -webkit-transform: perspective(400px) scale(1); 
        -webkit-animation-timing-function: ease-in; 
    } 
} 
@keyframes flip { 
    0% { 
        transform: perspective(400px) rotateY(0); 
        animation-timing-function: ease-out; 
    } 
    40% { 
        transform: perspective(400px) translateZ(150px) rotateY(170deg); 
        animation-timing-function: ease-out; 
    } 
    50% { 
        transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1); 
        animation-timing-function: ease-in; 
    } 
    80% { 
        transform: perspective(400px) rotateY(360deg) scale(.95); 
        animation-timing-function: ease-in; 
    } 
    100% { 
        transform: perspective(400px) scale(1); 
        animation-timing-function: ease-in; 
    } 
} 
.flip { 
    -webkit-backface-visibility: visible !important; 
    -webkit-animation-name: flip; 
    backface-visibility: visible !important; 
    animation-name: flip; 
}

 </form> 
 


/*RADIO CHOICES*/ 
.choices {
padding: 20px;
margin: 3px 50px;
width: 150px;
}
.radioP { 
 
  position: relative; 
  margin: 20px 0; 
  padding-left:40px;   
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #acb6c0;
  font-size:1.1em;
} 
.radioP:first-child { 
 margin:0 0 20px 0;  
} 
 
input[type="radio"] { 

  position: absolute; 
  top:0; 
  left:0; 
  z-index: 0; 
} 
 
/* For IE 7-8-9 
 
input[type="radio"] { 
  display: inline-block; 
} 
input[type="radio"] + label span.radioButtonGraph { 
  display: none; 
} 
 
*/ 
 
input[type="radio"] + label span.radioButtonGraph { 
 
  z-index: 20; 
  position: absolute; 
  top:-3px; 
  left:0; 
  
  width: 24px; 
  height: 24px; 
  border-radius: 50%; 
  cursor: pointer; 
  vertical-align: middle; 
  box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px; 
 
  background: #efefef; 
  background-image: radial-gradient(ellipse at center,  #62c2f3 0%,#62c2f3 40%,#efefef 45%); 
  background-repeat: no-repeat; 
 
  transition: background-position .15s cubic-bezier(.8, 0, 1, 1); 
} 
input[type="radio"]:checked + label span.radioButtonGraph { 
  transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1); 
} 
 
input[type="radio"] + label span.radioButtonGraph { 
  background-position: -24px 0; 
} 
input[type="radio"]:checked + label span.radioButtonGraph { 
  background-position: 0 0; 
} 
 
 .date{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #acb6c0;
  font-size:1.5em;
 }
  .radioLabel{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #acb6c0;
  font-size:1.1em;
 }

  #dances #about #formals #contact{
      visibility:hidden;
  }


  /*TABLE*/
.table-format{      
        max-width: 1500px;
        margin: 70px 70px;
  }  

.white-col {
  float: left;
  width: 250px;
  background: rgba(255,255,255,1);
  text-align: center;
}

.blue-col {
    float: left;
    position: relative;
    width: 250px;
    top: -50px;
    padding: 50px 0;
    background: #2c3e50;
    text-align: center;
    border-radius: 5px;
   
}
  
  
  & > .price {
    background: rgba(255,255,255,1);
    color: rgba(0,0,0,.7);
  }



.h2-blue {
  margin: 20px 0 10px 0;
  font-size: 1.25em;
  color: #acb6c0;
}


.table-p {
  color: rgba(0,0,0,.4);
  margin: 10px 0;
  font-weight: 100;
  font-size: .75em;
}
.table-p-blue{
  color: #eee;
  margin: 10px 0;
  font-weight: 100;
  font-size: .75em;
}


.table-span {
  margin-bottom: 20px;
  padding-bottom: 10px;
  display: inline-block;
  width: 125px;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  color: rgba(0,0,0,.5);
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.table-span-blue {
  margin-bottom: 20px;
  padding-bottom: 10px;
  display: inline-block;
  width: 125px;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  color: #acb6c0;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.price {
  height: 100px;
  width: 100px;
  text-align: center;
  background-color: #f15a22;
  border-radius: 50%;
  line-height: 100px;
  color: #fff;
  font-size: 1.5em;
  font-weight: 100;
  margin: 20px auto;
}


.table-btn{
    background-color: #f15a22;
}
    
